
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Playwrite+CU:wght@100..400&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  
  body{
  
    width: 393px;
  }

  .playwrite-cu{
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    
    font-style: normal;
  }
  

  /* shared style */
.text-color-pera{
    color: #ffffff96;
}
.tex-color-heading{
  color: #FFFFFF;
}
.font-48{
  font-weight: bolder;
  font-size: 48px;
  color: #FFFFFF;
}

.font-14{
  color: #ffffff96;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.font-18{
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.font-30{
  font-weight: bolder;
  font-size: 30px;
  color: #FFFFFF;
}

button{
  
}


  /* header part style */
  
  /* nav style */

  header{
    background-color: rgb(8, 8, 8); 
    padding-left: 210px;
    padding-right: 180px;
    
  }
  
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    margin-bottom: 96px;
    padding-left: 50px;
   
    }
  nav>ul{
    display: flex;
   
  }
  nav>ul>li{
  list-style: none;
  margin-right: 30px;
  }
  a{
    text-decoration: none;
    color: #FFFFFF;
  }
  nav>h1{
    font-weight: bolder;
    font-size: 30px;
    font-style: italic;
    color: #E6533C;
  }
 
  #home-nav{
    width: 92px;
    height: 38px;
    border-radius: 46px;
    background-color: #E6533C;
  }
  #home-nav>a{
    font-weight: 600px;
    font-size: 18px;
  }
  li>a {
    display: flex;
    justify-content: center;
    padding-top: 8px;
  }
  .nav-second-half{
    display: flex;
    justify-content: space-between;
  }
  .nav-parent{
    width: 520px;
    padding-bottom: 30px;
    padding-left: 50px;
  }
  .heading{
    font-weight: bolder;
    font-size: 78px;
  }
  .nav-parent>p{
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
  }

  .join-btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color: #E6533C;
    border-color: #E6533C;
    font-weight: 600;
    font-size: 18px;
  }
  .download-btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color: rgba(0, 0, 0, 0.897);
    border-color: #FFFFFF;
    font-weight : 600;
    font-size: 18px;
    margin-left: 10px;
  }

  /* banner img & btn */
  .banner-img{
    margin-top: 70px;
    width: 349px;
    height: 580px;

  }
  .banner-img-btn-parent{
  background-color: #30303056;
  width: 206px;
  height: 96px;
  border-color: #efede810;
  display: flex;
  align-items: center;
 padding-left: 20px;
 border-radius: 12px;
 position: relative;
 bottom: 150px;
 right: 170px;
  }

  .child-1{
    background-color: #E6533C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
   
  }

  .child-2>h1{
   width: 68px;
   height: 15px;
   color: #FAFAF9;

  }
  .banner-img-btn-parent>.child-2>p{
    width: 146px;
    height: 15px;
    color: #efede865;
   }
 .banner-img-btn-parent-2{
  background-color: #30303056;
  width: 193px;
  height: 98px;
  border-color: #efede810;
  display: flex;
  align-items: center;
 padding-left: 20px;
 border-radius: 12px;
 position: relative;
 bottom: 520px;
 left: 220px;

 }
 .step-child{
 line-height: 20px;
 letter-spacing: 1px;
 font-size: 13px;
 width: 160px;
 height: 15px;
 color: #efede865;
 }

  /* nav bar */
  .navbar{
    display: none;
  }



  /* body styles */
  main{
    margin-top: 100px;
  }

  /* summery 1 */

  body{
    background-color: rgb(0, 0, 0); 
  }

.summery-1{
  text-align: center;
 
}
.summery-1>p{
          width: 671px;
          margin: 0px auto;
}


.summery-1-main{
  display: flex;
  margin-left: 300px;
  margin-top: 40px;

}
.summery-1-img{
 border-radius: 50%;
}
.summery-1-parent{
  width: 231px ;
  text-align: center;
  margin-left: 80px;
}


/* main-2 sytyle */


.summery-2-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 165px;
  padding: 15px;
  width: 1060px;
  background-color: #222222;
  border-radius: 18px;
}
.run-img{
  width: 366px;
  height: 312px;
  margin-top: 20px;
  border-radius: 18px;
}

.summery-2-child{
  width: 443px;
}
.summery-2-child>button{
  margin-top: 10px;
}
.summery-2{
  display: grid;
  justify-content: center;
  align-items: center;
}

/* main 3 style */

.img-1 {
  width: 300px;
  height: 200px;
}
.color-1{
  background-color: #06ffd150;
  position: relative;
  width: 300px;
  height: 200px;
  bottom: 204px;
}

.img-2 {
  width: 460px;
  height: 200px;
}
.color-2{
  background-color: #ff000031;
  position: relative;
  width: 460px;
  height: 200px;
  bottom: 204px;
}
.img-3 {
  width: 300px;
  height: 200px;
}
.img-4 {
  width: 400px;
  height: 200px;
}
.img-5 {
  width: 300px;
  height: 200px;
}
.color-3{
  background-color: #44ff0031;
  position: relative;
  width: 300px;
  height: 200px;
  bottom: 204px;
}
.img-6 {
  width: 360px;
  height: 200px;
}
.color-4{
  background-color: #0048ff31;
  position: relative;
  width: 360px;
  height: 200px;
  bottom: 204px;
}

.exercise-img-first{
  display: flex;
  height: 200px;
}
.exercise-img-second{
  display: flex;
  height: 200px;
}

.exercise-img{
  display: grid;
  justify-content: center;
}
.main-3-summery{
 display: grid;
 justify-content: center;
}
.main-3-summery>div>p{
  width: 671px;
  margin-bottom: 40px;
}


/* main 4 style */

.m4_heading{
  width: 669px;
  text-align: left;
 margin: 5px auto;
}
.bmi{
  width: 669px;
  text-align: left;
 margin: 5px auto 88px auto;
}

.table-head{
  width: 200px;
  height: 50px;
  text-align: left;
  padding-left: 45px;
  color: #FFFFFF;
  border: 1px solid #ffffff96;
}
.font-14>td{
  width: 200px;
  height: 50px;
  padding-left: 45px;
  border: 1px solid #ffffff96;
}
.bmi-table{
 border-collapse: collapse;
 margin-top: 60px;
}

.input-type{
  display: grid;
 grid-template-columns: repeat(2, 283px);
gap: 15px;
 
}
.m4_section{
  display: flex;
  gap: 175px;
  background-color: #222222;
  align-items: center;
  justify-content: center;
padding-bottom: 40px;
padding-top: 20px;
 
}

.Calculator_summery{
  width: 588px;
  height: 48px;
  margin-bottom: 34px;
}


.input{
  width: 282px;
  height: 48px;
  border: none;
  padding-left: 10px;
  color: #ffffff62;
  background-color:  #ffffff10;
  font-size: 16px;
  font-weight: 22px;
  border-radius: 8px;
  
}
.input_option{
  color: #ffffff50;
  width: 294px;
}
.input_factor{
  width: 588px;
  height: 48px;
  color: #ffffff62;
  background-color: #ffffff10;
  font-size: 16px;
  font-weight: 22px;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
  margin-bottom: 20px;
}
#calculate_btn{
  color: #FFFFFF;
}

/* main 5 */

.main5-summery{
  margin-bottom: 100px;
}

.main5-heading{
text-align: center;
}

.main5-pera{
  text-align: center;
width: 671px;
height: 8px;
margin: 0px auto;
}

.trainers{
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  margin: 0px auto;
  padding: 10px;
  background-color: #ffffff13;
  border-radius: 15px;
  
}

.trainer-pic{
  width: 326px;
  height: 272px;
  border-radius: 12px;
}

.trainer-name{
  width: 217px;
  height: 24px;
  color: #FFFFFF;
  position: relative;
  bottom: 50px;
  left: 20px;
}

.mediascreen{
  display: none;
}

/* footer style */

.footer-fitness{
  font-size: 70px;
  font-weight: bolder;
  color: #E6533C;
  height: 64px;
}
.footer-summery{
  width: 443px;
  height: 72px;
  line-height: 24px;
}

.footer-heading{
  font-size: 32px;
  color: #FFFFFF;
  font-weight: bold;
}

.font-23{
  font-size: 23px;
  color: #ffffff50;
  line-height: 120%;
  height: 28px;
}

.footer-section{
  display: flex;
  justify-content: space-between;
  width: 1059px;
  margin: 66px auto 50px auto ;

  padding-top: 30px;
}

.footer-parent{
  background-color: #ffffff10;
  margin-top: 88px;
}

.font-20{
  font-size: 20px;
  line-height: 24px;
  color: #ffffff50;
  text-align: center;
}

.footer-foot{
   width: 1059px;
   margin: 0px auto;
  border-top: 1px solid #ffffff10;
  padding-bottom: 3px;
}
