@media screen and (max-width:576px) {
    .nav-menu{
      display: none;
    }
    .navbar{
      display: block;
      margin-left: 300px;
      margin-bottom: 10px;
    }
    
  header{
    height:auto;
    padding-left: 0px; 
    padding-right: 0px;
   
  }
  nav{
    padding-top: 30px ;
    margin-bottom: 0px;
  padding-left: 25px;
  }
  nav>ul{
    width: 350px;
  }
  .nav-parent{
    padding-left: 25px;
  }

  .heading{
   width: 285px;
  font-size: 36px;
  }
  .banner-pera{
    width: 274px;
    height: 96px;
  }
 .nav-second-half{
  display: grid;
 }
  .banner-img{
    margin-top: 50px;
    margin-left: 40px;
  }
 
  .banner-img-btn-parent{
   bottom: 150px;
   right: 50px;
    }
    .banner-img-btn-parent-2{
     bottom: 490px;
     left: 200px;
    
     }

  }

  /* body */
  body{
    margin: 0px;
  }

  /* main 1 */

  @media screen and (max-width:576px) {


 
  .summery-1>h1{
    font-size: 32px;
    text-align: center;
    width: 318px;
    margin: 10px 60px;
  }
  .summery-1>p{
    text-align: center;
    width: 318px;
    margin-left: 60px;
  
}

   .summery-1-main{
    display: grid;
    margin: 20px auto;
    width: 338px;
  }
  .summery-1-parent{
  
    margin-left: 0px;
  }
  }

  /* main 2 */

  @media screen and (max-width:576px) {
    .summery-2-parent{
      display: block;
      gap: 31px;
      height: 531px;
      width: 353px;
      margin-left: 0px;
    
    }
    .summery-2{
      display: grid;
      justify-content: left;
      margin-left: 35px;
      
    }
    .summery-2-child{
      display: grid;
    margin-left: 45px;
    }
 
    .summery-2-child>h1{
      font-size: 32px;
      width: 287px;
    }
    .summery-2-child>p{
      width: 287px;
    }
    .summery-2-child>.join-btn{
      margin-left: 20px;
    }
    .run-img{
      width: 287px;
      height: 170px;
      margin-top: 20px;
      border-radius: 18px;
      margin-left: 35px;
    }
  }

  /* main 3 */

  @media screen and (max-width:576px){
    .m3_heading{
      width: 353px;
     height: 162px;
     margin-left: 45px;
    }


  .exercise-img-first{
    width: 353px;
    height: 126px;
  }
  .exercise-img-second{
    width: 353px;
    height: 126px;
  }

 
    .img-1 {
      width: 157px;
      height: 128px;
      
    }
    .color-1{
      width: 157px;
      height: 127px;
      bottom: 132.5px;
    }
    
    .img-2 {
      width: 210px;
      height: 128px;
      
    }
    .color-2{
   
      width: 210px;
      height: 127px;
      bottom: 132.5px;
    }
    .img-4 {
      width: 157px;
      height: 127px;
    }
    .img-5 {
      width: 210px;
      height: 128px;
    }
    .color-3{
   
      width: 210px;
      height: 127px;
      bottom: 132.5px;
    }

    .img-3{
      display: none;
    }
    .img-6{
      display: none;
    }
    .color-4{
      display: none;
    }
   

    .main-3-summery{
      display: block;
  
     }
     .m3_heading>h1{
      font-size: 32px;
     }

     .main-3-summery>div>p{
      width: 331px;
      height: 72px;
      line-height: 24px;
      letter-spacing: 0.3px;
      margin-bottom: 40px;
    }

    .exercise-img{
      margin-top: 30px;
        display: grid;
        justify-content: left;
        margin-left: 45px;
      
    }
  }

  /* main 4 */

  @media screen and (max-width:576px) {
    .m4_heading{
      width: 353px;
      text-align: left;
     margin-left: 45px;
    }
    .bmi{
      width: 353px;
      text-align: left;
     margin: 5px auto 88px 45px;
    }

 
    .m4_section{
      display: grid;
     gap: 50px;
     justify-content: left;
     padding-left: 45px;
  
    }
  
    .table-head{
      width: 125px;
      height: 50px;
     
    }
    .font-14>td{
      width: 125px;
      height: 50px;
      padding-left: 45px;
      border: 1px solid #ffffff96;
    }
   

    .Calculator_summery{
      width: 346px;
      height: 72px;
    
    }
    
    .input{
      width: 170.5px;
      height: 48px;
      
    }
    .input-type{
      display: grid;
     grid-template-columns: repeat(2, 170.5px);
    gap: 15px;
     
    }
    .input_option{
    
      width: 180px;
    }
    .input_factor{
      width: 365px;
      height: 48px;
    
    }
  }

  /* main 5 */

  @media screen and (max-width:576px){

    
.main5-heading{
  text-align: left;
  margin-left: 45px;
  }
  
  .main5-pera{
  text-align: left;
  margin-left: 45px;
  width: 309px;
  height: 72px;
  
  }  

  .trainers{
    display: none;
  }

  .mediascreen{
    display: grid;
    grid-template-columns: 1fr;
   margin-left: 40px;
  }
 
  .trainers{
    width: 327px;
    
  }

  }

/* footer style */

@media screen and (max-width:576px){
  .footer-section{
    display: grid;
    justify-content: space-between;
    width: 393px;
    margin: 0px ;
    padding-left: 30px;
    padding-top: 30px;
  }

  
.footer-foot{
  width: 393px;
  margin: 0px auto;
 border-top: 1px solid #ffffff10;
 padding-bottom: 3px;
}


}